<!DOCTYPE html>
<html>

<head>
    <title>Burger Heaven</title>
    <link rel="stylesheet" type="text/css" href="assets/css/butger_style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body>
    <div id="container">
        <h1>Welcome to Burger Heaven</h1>
        <img src="/assets/img/burger.png">
        {{{body}}}
        <input>
        <br>
        <br>
        <button>Submit</button>
        <br>
        <p>Input a burger and press the submit button...</p>
    </div>
</body>

</html> 
